@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800&display=swap");

:root {
  /* palette of colors */
  --color-base-1: #2d3266;
  --color-base-2: #343d99;
  --color-base-3: #3140cc;
  --color-base-4: #5766ff;
  --color-primary-1: #ffdf70;
  --color-primary-2: #ffce24;
  --color-gray-1: #807b6c;
  --color-gray-2: #666357;
  --color-gray-4: #33312b;
  --color-white: #fff9e5;
  --color-white-3: #ffeeb2;

  /* typography */
  --font-primary: "Nunito Sans", sans-serif;
}

.mobile {
  display: none;
}

[data-desktop = "container"] {
  display: none;
}

/*
---------------------------------
INICIO MOBILE
---------------------------------
*/

body {
  background: var(--color-white-3);
  font-family: var(--font-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.container {
  flex-direction: column;
  width: 90%;
  height: 95%;
  background: linear-gradient(135deg,
      var(--color-base-1),
      var(--color-base-2),
      var(--color-base-3),
      var(--color-base-4));
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.secao1 {
  flex: 60%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* border: solid 3px tomato; */
}

.secao1_btn {
  width: 100%;
  height: 60%;
  flex-direction: column;
  /* justify-self: start; */
  align-self: flex-end;
  display: flex;
  justify-content: flex-end;
  /* margin-top: auto;
    margin-bottom: auto; */
}

.first_title {
  margin-bottom: 2em;
}

.secao1_titulo {
  color: var(--color-primary-1);
  font-size: 18px;
  font-weight: 800;
  line-height: 22px;
  letter-spacing: 2px;
}

.secao1_conteiner_descricao {
  margin-left: -105px;
}

.secao1_descricao {
  color: var(--color-white);
  font-size: 14px;
  line-height: 25px;
}

span {
  font-size: 18px;
  font-weight: bold;
  color: var(--color-primary-1);
}

.secao1_img {
  padding: 10px 0;
}

.secao1_img img {
  width: 100%;
}

.secao2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 10%;
  width: 100%;
  margin: 0 auto;
}

.secao2_logotipo {
  width: 90%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.secao2_titulo_logotipo {
  display: flex;
  align-items: center;
  width: 70%;
  min-height: 42px;
  padding: 0 25px 0 15px;
  text-align: end;
  background: var(--color-white-3);
  border-radius: 50px 0 0 50px;
  font-size: 16px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

.secao2_logotipo_img {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  padding: 0 5px;
  background: var(--color-gray-4);
  border-radius: 0 50px 50px 0;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

.secao2_logotipo_img img {
  height: 42px;
}

.secao3 {
  flex: 15%;
  display: flex;
}

.secao1_btn_link {
  background: var(--color-primary-2);
  text-align: center;
  font-size: 20px;
  font-weight: 800;
  text-decoration: none;
  color: var(--color-gray-4);
}

.secao1_btn_link {
  height: 50%;
  min-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.secao1_btn_link_elementos {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  background: var(--color-primary-1);
}

.btn_border {
  border-radius: 0 0 10px 10px;
}

.secao1_btn_link_elementos img {
  height: 50%;
  margin-left: 2em;
  /* padding-left: 15px; */
}

@media (max-height: 515px) {
  html {
    height: auto;
  }

  body {
    height: 800px;
    overflow: scroll;
    /* overflow: inherit; */
  }

  .container {
      height: 800px;
    }
}

@keyframes fadeAndSlide {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}


/*
---------------------------------
INICIO DESKTOP
---------------------------------
*/
[data-desktop="container"] {
  flex-direction: row;
  border: solid 3px tomato;
  height: 80vh;
}


@keyframes fadeAndSlide {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

[data-container='show'] {
  display: flex;
  animation: fadeAndSlide .6s ease-in-out forwards;
}

[data-container='none'] {
  display: none;
}